@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
    font-family: 'Roboto Mono', monospace;
}
html {
  scroll-behavior: smooth;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #000;
}
nav{
    z-index: 10;
}
.navbar-nav .nav-link {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}
.navbar-nav .nav-link:hover {
    color: #007bff;
    text-decoration: underline;
}
.navbar .nav-link:active {
    color: #17a2b8 !important;
    text-decoration: none !important;
    border-bottom: 2px solid #17a2b8 !important;
  }
  
.img-mywork {
    max-width: 50%;
    height: 350px;
    margin: auto;
    display: block;
}
.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
   }
   .custom-container {
    margin-bottom: 20px;
  }
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #17a2b8;
    border: 1px #0a545f;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }
   .timeline-item {
    position: relative;
    padding-left: 40px;
  }

  .timeline-icon {
    position: absolute;
    left: 20px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #686868;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timeline-content {
    margin-left: 50px;
  }

  .timeline-item::before {
    content: '';
    position: absolute;
    left: 29px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #838383;
  }
  .bg-header {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #c2c2c2 0px 0px 5px, #c4c3c3 0px 0px 10px, #d1d1d1 0px 0px 15px;
    position: relative;
  }
  
  .bg-header .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .bg-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; 
  }
  
  .bg-header h1 {
    z-index: 1;
    text-shadow: #aaa7a7 0px 0px 5px, #fffefe54 0px 0px 10px, #e2e2e246 0px 0px 15px;
    font-weight: bold;
  }
  .certifications-section {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
  }
  
  .certification-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .certification-images img {
    width: 40%;
    margin: 0 20px; 
  }
  
.tools_container {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .tools_card {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(19, 19, 19, 0.247);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    transition: transform 0.3s; /* เพิ่ม transition ใน transform */
}

.tools_card:hover {
    transform: scale(1.1); /* เพิ่มขนาดเมื่อ hover */
}

  
.tools_title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
}
@keyframes shakeHands {
  0%, 100% {
    transform: rotate(0deg);
  }
  25%, 75% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

.hand-shake {
  font-size: 50px;
  display: inline-block;
  animation: shakeHands 5s infinite;
}

  .logo {
    height: 250px;
    font-size: 40px;
  }
.logo b {
    font: 2em "Vibur";
    color: rgb(7, 7, 7);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f8f6f6, 0 0 0.5em #f8f8f8, 0 0 0.1em #fffefe, 0 10px 3px #646363;
}
.logo b span{
    animation: blink linear infinite 2s;
  }
.logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #fdfdfd;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #fcfafa;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #fcf9f9;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  #btn-twtr{
    clear:both;
    color:#fff;
    border:2px solid;
    border-radius:3px;
    text-align:center;
    text-decoration:none;
    display:block;
    font-size:14px;
    padding:5px 10px;
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    margin:0 auto;
    background:rgba(0,0,0,0.2);
    box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
    opacity:0.4
  }#btn-twtr:hover{color:#fff;opacity:1}
  #back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  /* Add this to your CSS file */
.fade-in-on-scroll {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.fade-in-on-scroll.active {
  opacity: 1;
}
@keyframes blurAnimation {
  0% {
    filter: blur(0); /* เริ่มต้นไม่มีเบลอ */
  }
  100% {
    filter: blur(5px); /* สิ้นสุดด้วยการเบลอ 5px */
  }
}
@keyframes blurAnimation {
  0% {
    filter: blur(5px); /* สั่งให้รูปทั้งหมดเบลอเมื่อเริ่มต้น */
  }
  100% {
    filter: blur(0); /* สั่งให้รูปทั้งหมดกลับมาเป็นปกติ */
  }
}

.custom-border {
  position: relative;
  z-index: -1; /* ให้กรอบอยู่ข้างหลัง */
  margin-bottom: 10px;
  margin-right: 10px;
  animation: blurAnimation 3s forwards; /* ใช้ animation ที่สร้างด้วย keyframes โดยเวลาทั้งหมดคือ 3 วินาที */
}

.custom-border::before {
  content: ''; /* สร้าง pseudo-element ในรูปของกรอบ */
  position: absolute;
  bottom: -25px; /* ระยะห่างด้านล่างของกรอบ 25px */
  right: -25px; /* ระยะห่างด้านขวาของกรอบ 25px */
  border-bottom: 25px solid rgba(10, 10, 10, 0.836);
  border-right: 25px solid rgba(7, 7, 7, 0.842);
  border-radius: 4px;
}