@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
    font-family: 'Roboto Mono', monospace;
}
/* สไตล์ CSS เพิ่มเติม */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #000; /* สีดำ */
}
nav{
    z-index: 1;
}
.navbar-nav .nav-link {
    color: #000000; /* สีข้อความที่ไม่ได้คลิก */
    text-decoration: none; /* ไม่มี underline */
    transition: color 0.3s; /* เพื่อให้มีการเปลี่ยนสีเมื่อ hover */
}
.navbar-nav .nav-link:hover {
    color: #007bff; /* สีข้อความเมื่อ hover */
    text-decoration: underline; /* มี underline เมื่อ hover */
}
.navbar .nav-link:active {
    color: #17a2b8 !important;
    text-decoration: none !important;
    border-bottom: 2px solid #17a2b8 !important;
  }
  
.img-mywork {
    max-width: 50%;
    height: 350px;
    margin: auto; /* จัดให้รูปภาพอยู่ตรงกลางแนวนอน */
    display: block; /* ป้องกัน margin auto ไม่ทำงานเมื่อมีความกว้างเต็ม */
}
.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }
   .timeline-item {
    position: relative;
    padding-left: 40px;
  }

  .timeline-icon {
    position: absolute;
    left: 20px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #686868; /* สีของเส้นเชื่อม */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timeline-content {
    margin-left: 50px;
  }

  .timeline-item::before {
    content: '';
    position: absolute;
    left: 29px;
    top: 0;
    height: 100%;
    width: 2px; /* ความหนาของเส้นเชื่อม */
    background-color: #838383; /* สีของเส้นเชื่อม */
  }
  .bg-header {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #c2c2c2 0px 0px 5px, #c4c3c3 0px 0px 10px, #d1d1d1 0px 0px 15px;
    position: relative;
  }
  
  .bg-header .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .bg-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* สีดำพรางที่คุณต้องการ */
    z-index: 0; /* ให้ overlay อยู่ด้านหลังของรูปภาพ */
  }
  
  .bg-header h1 {
    z-index: 1;
    text-shadow: #000 0px 0px 5px, #000 0px 0px 10px, #000 0px 0px 15px;
  }
  
  
.tools_container {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .tools_card {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
  }
  
  .tools_title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
  }